.my-button {
  border: 2px solid #777;
  padding: 10px 20px;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: inline-block;
}
