@import "./fragments/language.scss";
@import "question";
@import "scale";
@import "patient-details";
@import "complaint";
@import "get-ready";

body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  padding: 0;
  margin: 0;
}

.mdlingua-logo {
  margin: auto;
  background-image: image-url('logo.png');
  background-size: 290px 123px;
  background-repeat: no-repeat;
  height: 123px;
  width: 290px;
}

.logo-container {
  display: flex;
  height: 100vh;
  width: 100vp;
  background-color: white;
}

.doctor-report {
  margin: auto;
  background-image: image-url('page_3-8.png');
  background-size: 1254px 837px;
  background-repeat: no-repeat;
  height: 837px;
  width: 1254px;
}
