.question-container {
  display: flex;

  &.crossed {
    background: linear-gradient(61deg, white 50%, #74D99D 50%);
    height: 100vh;
  }

  .doctor-text {
    font-weight: 500;
    font-size: 25px;
    color: grey;
  }

  aside {
    //width: 237px;
    flex: 1;
    background-color: #f1f2f2;
    overflow-y: scroll;
  }

  .question-view {
    margin: 80px 95px;
    flex: 3;

    display: flex;
    flex-direction: column;

    .petient {
      font-size: 50px;
      position: relative;
    }

    .widget {
      .switch {
        flex-wrap: wrap;
        flex-direction: row;
        align-self: flex-start;
      }
      ul {
        padding-left: 0;
      }
    }

    .another-radio-logo {
      background-image: image-url('sound.png');
      background-size: 64px 64px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 64px;
      height: 64px;
      position: absolute;
      right: 0;
    }
  }

  .questions-list {
    list-style: none;
    padding-left: 0;

    li {
      padding: 0.5em 1.5em;
      border-bottom: 1px solid #e0e1e2;
      color: #9ba5a8;
    }
    .answered {
      color: #91e2b2;
    }
    .current {
      color: white;
      background-color: #5dc185;
    }
  }
}
.answer {
  vertical-align: top;
  align-self: flex-end;
  display: inline-block;
  list-style-type: none;
  min-height: 150px;
  width: 450px;
  margin-right: 25px;
  margin-bottom: 27px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  padding: 1em;
  line-height: 43px;
  //text-align: center;

  &.selected {
    background-color: #B6C1C7;
    color: white;
    border: 2px solid #B6C1C7;
  }
}

.radio-logo {
  background-image: image-url('sound-icon.png');
  background-size: 64px 64px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 120px;
  float: left;
  background-position: center;
}

.radio-text {
  float: left;
  margin-left: 1em;
  width: 300px;
}

.radio-text-2 {
  float: left;
  margin-left: 1em;
  width: 300px;
}
