.question-container {
  display: flex;

  &.crossed {
    background: linear-gradient(61deg, white 50%, #74D99D 50%);
    height: 100vh;
  }

  .doctor-text {
    font-weight: 500;
    font-size: 25px;
    color: grey;
  }

  aside {
    border: 1px dashed grey;
    width: 237px;
    background: lightblue;
    overflow: hidden;
  }

  .question-view {
    margin: 80px 95px;
    flex: 2;

    display: flex;
    flex-direction: column;

    .petient {
      font-size: 50px;
      position: relative;
    }

    .widget {
      .switch {
        flex-wrap: wrap;
        flex-direction: row;
        align-self: flex-start;
      }
      ul {
        padding-left: 0;
      }
    }

    .answer {
      vertical-align: top;
      align-self: flex-end;
      display: inline-block;
      list-style-type: none;
      min-height: 150px;
      width: 450px;
      margin-right: 70px;
      margin-bottom: 27px;
      border: 2px solid black;
      background: rgba(255, 255, 255, 0.6);
      font-size: 25px;
      padding: 1em;
      line-height: 43px;
      //text-align: center;

      &.selected {
        background-color: pink;
      }
    }

    .radio-logo {
      background-image: image-url('sound-icon.png');
      background-size: 64px 64px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 64px;
      height: 120px;
      float: left;
      background-position: center;
    }

    .another-radio-logo{
      background-image: image-url('sound.png');
      background-size: 64px 64px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 64px;
      height: 64px;
      position: absolute;
      right: 0;
    }

    .radio-text {
      float: left;
      margin-left: 1em;
      width: 300px;
    }
  }

  .questions-list {
    .answered {
      background: red;
    }
    .current {
      background: green;
    }
  }
}
