.scale {
  margin-top:25px;
  
  button{
    width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 35px;
  }
  .selected {
    border: 5px solid blue;
  }

  .level-1 {
    background: green;
  }
  .level-10 {
    background: red;
  }
}
