<h1>Conclusion</h1>
<ul class="question-container question-view">
  <li class="answer" ng-repeat="sentence in conclusion.sentences">
    <div class="radio-logo" ng-click="conclusion.read(sentence); $event.stopPropagation()"></div>
    <div class="radio-text-2">
      <div class="doctor-text">{{ sentence | chooseLang:conclusion.doctorLanguage }}</div>
      <div class="petient">
        {{ sentence | chooseLang:conclusion.patientLanguage }}
      </div>
    </div>
  </li>
</ul>
<p><a href="/#/report">Doctor's report</a></p>
