<div class="question-container crossed">
  <aside>
    <ul class="questions-list">
      <li ng-repeat="q in question.questions"
          ng-click="question.selectQuestion(q.id)"
          ng-class="{answered: q.answered, current: q.id == question.currentQuestion.id}">
        {{ q.title | chooseLang:question.doctorLangauge }}
      </li>
    </ul>
  </aside>
  <section class="question-view">
    <div class="doctor-text" ng-click="question.read(answer, question.doctorLangauge)">
      {{ question.currentQuestion.title | chooseLang:question.doctorLangauge }}
    </div>
    <div class="petient">
      {{ question.currentQuestion.title | chooseLang:question.patientLangauge }}
      <div class="another-radio-logo" ng-click="question.read(question.currentQuestion.title, question.patientLangauge)"></div>
    </div>
    <div class="widget" ng-switch on="question.currentQuestion.type">
      <div class="switch" ng-switch-when="choice">
        <ul>
          <li class="answer"
              ng-repeat="answer in question.currentQuestion.answers"
              ng-click="question.choose(answer)">
            <div class="radio-logo" ng-click="question.read(answer, question.patientLangauge); $event.stopPropagation()"></div>
            <div class="radio-text">
              <div class="doctor-text">{{ answer | chooseLang:question.doctorLangauge }}</div>
              <div class="petient">{{ answer | chooseLang:question.patientLangauge }}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </section>

</div>
<div class="container-b">
  <button class="language" ng-click="question.continue()">Next</button>
</div>
