<div class="question-container crossed">
  <aside>
    <ul class="questions-list">
      <li ng-repeat="q in question.questions"
          ng-click="question.selectQuestion(q.id)"
          ng-class="{answered: q.answered, current: q.id == question.currentQuestion.id}">
        {{ q.title | chooseLang:question.doctorLanguage }}
      </li>
    </ul>
  </aside>
  <section class="question-view">
    <div class="doctor-text">
      {{ question.currentQuestion.title | chooseLang:question.doctorLanguage }}
    </div>
    <div class="petient">
      {{ question.currentQuestion.title | chooseLang:question.patientLanguage }}
      <div class="another-radio-logo" ng-click="question.read(question.currentQuestion.title)"></div>
    </div>
    <div class="widget" ng-switch on="question.currentQuestion.type">
      <div class="switch" ng-switch-when="choice">
        <ul>
          <li class="answer"
              ng-repeat="answer in question.currentQuestion.answers"
              ng-click="question.choose(answer)"
              ng-class="{selected: question.isAnswerSelected(answer)}">
            <div class="radio-logo" ng-click="question.read(answer); $event.stopPropagation()"></div>
            <div class="radio-text">
              <div class="doctor-text">{{ answer | chooseLang:question.doctorLanguage }}</div>
              <div class="petient">{{ answer | chooseLang:question.patientLanguage }}</div>
            </div>
          </li>
        </ul>
      </div>
      <div ng-switch-when="scale_1-10">
        <div class="scale">
          <button
            ng-repeat="level in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
            ng-class="{selected: question.isAnswerSelected(level)}"
            ng-click="question.choose(level)"
            class="level-{{ level }}">
            {{ level }}
          </button>
        </div>
      </div>
    </div>
    <footer class="container-b">
      <button ng-click="question.continue()">Next</button>
      <button ng-click="question.finish()">Finish</button>
    </footer>
  </section>
</div>
